@import '../../styles/mixins.scss';

.mainScreen {
	height: 100vh;
	width: 100vw;
	background-color: #fff;
	overflow: hidden;
	animation: show 0.5s linear;

	.logo {
		position: absolute;
		left: 10px;
		top: 10px;
		width: 170px;
		height: 35px;
		z-index: 1;
	}

	.bgContainer {
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1;
		display: flex;
		align-items: flex-end;
		background-color: transparent;
		pointer-events: none;

		.bgContent {
			height: 150px;
			width: 100%;
			background-color: rgba(0,0,0,0.3);
		}
	}

	.section {
		width: 100vw;
		height: 100vh;
		display: flex !important;
		justify-content: center;
		align-items: center;
		background: transparent;
	}
}

// @media (max-width: 768px) {
// 	.mainScreen {
// 		flex-direction: column;

// 		.section {
// 			width: 100vh;
// 			height: 0;
// 			position: relative;
// 			padding: 0 20px;
// 			transition: all 0.5s;
// 			opacity: 0;
// 			right: 10px;
// 			justify-content: flex-start;

// 			.sectionContent .imageContainer {
// 				right: 10vw;
// 				top: 40px;
// 			}

// 			p {
// 				transform: rotate(0deg);
// 				font-size: 20px;
// 				margin: 0 0 5px;
// 				width: 100vw;
// 				position: unset;
// 			}

// 			h4 {
// 				font-size: 130px;
// 				line-height: 100px;
// 				left: -10px;
// 				bottom: -30px;
// 			}
// 		}

// 		.selected {
// 			height: 100vh;
// 			width: 100vw;
// 		}
// 	}
// }

// @media (max-width: 576px) {
// 	.mainScreen .section .sectionContent .imageContainer {
// 		right: 10vw;
// 		top: 70px;
// 	}
// }

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}